
<h1> {{this.var.nom_echange}}</h1>
<h3> {{this.var.nom}}  {{this.var.prenom}}</h3>

<table>
    <tr>
        <th>Image brique</th>
        <th>Nom brique </th>
        <th>Couleur Brique </th>
        <th>Quantite</th>
        <th>Valeur</th>
    </tr>
    {{#each allDetailsEchange}}
        <tr id="id_ligne">
            <td><img src="/assets/{{this.image}}" alt="brique"></td>
            <td>{{this.nom_brique}} </td>
            <td>{{this.couleur_brique}}</td>
            <td id = "id_quantite">{{this.quantite}}</td>
            <td id = "id_valeur">{{this.valeur}}</td>
            <td id = "id_resultat"></td>
        </tr>
    {{/each}}
</table>
<div id="totalValeurEchange">La valeur globale approximative de lՎchange "{{this.var.nom_echange}}"  : </div>


