{{!-- {{#each allBrique}}

<div> 
    <img src="{{this.image}}"> 
    <p>{{this.nom}} </p>
    <p>{{this.valeur}} </p>
</div>

{{/each}} --}}
<section class="Nos-Espaces">
    {{#each allBrique}}
    <div class="carte">
        <div class="image-bloc">
            <h3>{{this.nom}} </h3>
            <img src="/assets/{{this.image}}" alt="brique" class="image-responsive">
            <!-- <hr> -->
            <div class="infolego">
                <div>
                    <p>Valeur</p>
                    <p>{{this.valeur}}</p>
                </div>
                <div>
                    <p>Couleur</p>
                    <p>{{this.brique_Couleur}}</p>
                </div>
            </div>
            <input type="number" value="0">
        </div>
    </div>
    {{/each}}
</section>
<section class="creation">
    <input type="text">
    <button type="submit" class="btnCreerEchange" >Creer Echange</button>
</section>