{{!-- 

<p>{{this.nom_brique}}</p>
<p>{{this.id_brique}}</p>
 --}}


<h2>Echanges</h2>
<div>
<table>
    <tr>
        <th>Nom Echange</th>
        <th>Nom Utilisateur </th>
        <th>Prenom Utilisateur </th>
        <th></th>
    </tr>
    {{#each allEchanges}}
        <tr>
            <td>{{this.nom_echange}}</td>
            <td>{{this.nom}} </td>
            <td>{{this.prenom}} </td>
            <td><input type="button" value="voir echange" data-id="{{this.id_utilisateur}}"></td>
        </tr>

    {{/each}}
</table>
</div>
<div class="btnDetailsEchange"><a href="http://localhost:5000/briques" class="detailsEchange">Voir Echange</a></div>
